.about {
  padding: 100px 10%;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.about-text {
  max-width: 800px;

  color: #cbd5e1;

  line-height: 1.8;

  margin-bottom: 18px;

  font-size: 1.05rem;
}